:root {
  --fontSize: 16px;
  --line-height: 1.125;
  --app-height: 100vh;
  --minWidth: 375px;
  --maxWidthContainer: 600px;

  --bgMain:#665f34;
  --colorWhite:#FBF1E4;
  --colorAccent:#4A020D;
  --colorText:#2D2D2D;
}
